<% wrap_layout :layout do %>
	<article role="article" itemscope itemtype="http://schema.org/BlogPosting">

	<header>
		<h1><%= link_to current_page.title, current_page %></h1>
		<p><time datetime="<%= current_page.date.strftime('%Y-%m-%d') %>"><%= current_page.date.strftime('%Y-%m-%d') %></time></p>
	</header>
	<section>
		<%= yield %>
	</section>
	<footer>
		<p class="tags">
		<% current_page.tags.each do |tag| %>
			<%= link_to tag, tag_path(tag) %>
		<% end %>
		</p>
	</footer>

</article>

<% end %>
