<% wrap_layout :layout do %>
<article class="clearfix" role="article" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="article-header"> 
   <h1 class="h2"><%= link_to current_page.title, current_page %></h1>
   <p class="byline vcard"><time class="updated" datetime="<%= current_page.date.strftime('%Y-%m-%d') %>" pubdate><%= current_page.date.strftime('%Y-%m-%d') %></time></p>
   </header>
   <section class="entry-content clearfix">
    <%= yield %>
  </section>

  <footer class="article-footer">
    <p class="tags">
      <% current_page.tags.each do |tag| %>
      <%= link_to tag, tag_path(tag) %>
      <% end %>
    </p>
  </footer>

</article>
<% end %>