---
pageable: true
per_page: 10
---
<% page_articles.each_with_index do |article, i| %>
  <% if article.options[:layout] == 'post' %>
    <%= partial "post", :locals => { :article => article} %>
  <% elsif article.options[:layout] == 'micro' %>
    <%= partial "micro", :locals => { :article => article} %>
  <% end %>
<% end %>

<% if paginate && num_pages > 1 %>
<nav class="pagination">
  <ul>
  <% if prev_page %>
  <li><%= link_to '&laquo; Prev', prev_page %></li>
  <% else %>
  <li><span>&laquo; Prev</span></li>
  <% end %>

  <% for page in (1..num_pages) %>
    <% if page_number == page %>
    <li><span><em><%= page %></em></span></li>
    <% elsif page == 1 %>
    <li><a href="/">1</a></li>
    <% else %>
    <li><a href="/page/<%= page %>/"><%= page %></a></li>
    <% end %>
  <% end %>

  <% if next_page %>
  <li><%= link_to 'Next &raquo;', next_page %></li>
  <% else %>
  <li><span>Next &raquo;</span></li>
  <% end %>

  </ul>
</nav>
<% end %>
